/* Card container */
.card {
    background-color: #fff; /* Background color */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
  
    /* Spacing and padding */
    margin: 16px;
    padding: 16px;
  
    /* Typography */
    font-family: 'Roboto', sans-serif; /* Google's recommended font */
    font-size: 16px;
    line-height: 1.5;
  
    /* Text color */
    color: #333;
  }
  
  .card-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    line-height: 1.6;
    color: #000000; /* Text color for your design */
    margin-bottom: 16px; /* Adjust as needed */
    text-align: left;
  }
  
  /* Optional: Card hover effect */
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase elevation on hover */
    transition: box-shadow 0.2s ease-in-out; /* Smooth transition */
  }
  
  .card-contents {
    display: flex;
    flex-direction: column;
  }
  
  /* Card actions container */
  .card-actions {
    display: flex; /* Display actions in a row */
    justify-content: flex-end; /* Align actions to the right */
    margin-top: 16px; /* Spacing between card content and actions */
  }
  
  .card-action-button {
    /* Typography */
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 550; /* Adjust the value to achieve the desired font weight */
    text-transform: uppercase;
    letter-spacing: 0.0892857143em;
    
    /* Size and shape */
    height: 36px;
    border-radius: 4px;
    padding: 0 8px;
    
    /* Colors */
    color: #6200ee; /* Button text color (blue) */
    background-color: transparent;
    text-decoration: none;
    
    /* Remove default button styles */
    border: none;
    outline: none;
    cursor: pointer;
    
    /* Center text vertically and horizontally */
    display: flex;
    align-items: center;
  
    /* Position and styles for the ripple container */
    position: relative;
    overflow: hidden;
    
    /* Transition for hover effect */
    transition: background-color 0.3s ease;
  }
  
  /* Hover animation for card-action-button */
  .card-action-button:hover {
    background-color: rgba(98, 0, 238, 0.5); /* #6200ee with 50% opacity on hover */
    color: #6200ee; /* Set the text color to #6200ee on hover */
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-row label {
    font-weight: bold;
    text-align: left;
    margin-right: 16px;
    color: #6200ee; /* Text color, adjust as needed */
    font-family: "Roboto", sans-serif; /* Font family, adjust as needed */
    font-size: 16px; /* Font size, adjust as needed */
  }
  
  .form-row input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-family: "Roboto", sans-serif; /* Font family, adjust as needed */
    font-size: 16px; /* Font size, adjust as needed */
  }
  
  /* Optional: Style for focus on inputs */
  .form-row input:focus {
    border-color: #007bff;
    outline: none;
    /* Add other focus styles as needed */
  }

  .form-record-entry {
    background-color: #6200ee;
    color: white;
    margin: 2px;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-record-entry span {
    vertical-align: middle;
    padding-top: 7px;
    font-weight: 600;
  }

  .form-record-entry-delete {
    /* Remove default button styles */
    border: none;
    padding: 8px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }