.resume-header {
    height: 150px;
    background-color: #6200ee;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .resume-header .name {
    margin: auto;
  }
  .resume-header .name h1{
    margin: 0;
  }
  
  .resume-header .contact {
    border-top: 1px solid white;
    width: 50%;
    display: flex;
  }
  
  .resume-header .contact label {
    flex: 1;
  }

  .resume-content {
    padding: 1rem 4rem;
  }

  .section-title {
    background-color: rgba(98, 0, 238, 0.25);
  }

  .section-row {
    display: flex;
    flex-direction: row;
  }
  
  .row-dates {
    flex: 1;
    text-align: left;
  }

  .row-info {
    flex:2;
    text-align: left;
  }

  .row-info-title {
    font-weight: 500;
  }

  .row-info-subtitle {
    font-weight: 400;
  }

  .row-info-body {
    font-weight: 100;
  }